<div class="non-ui-lib">
      <div class="text">
        <a class="a">a</a>
        <h4 class="h4">h4</h4>
        <div class="span">span</div>
        <q class="q">q</q>
        <b class="b">b</b>
        <h5 class="h5">h5</h5>
        <div class="strong">strong</div>
        <s class="s">s</s>
        <div class="div-wrapper">
          <div class="div">div</div>
        </div>
        <h6 class="h6">h6</h6>
        <div class="blockquote">blockquote</div>
        <u class="u">u</u>
        <small class="small">small</small>
        <h1 class="h1">h1</h1>
        <i class="i">i</i>
        <div class="code">code</div>
        <h2 class="h2">h2</h2>
        <label class="label">label</label>
        <div class="legend">legend</div>
        <div class="summary">summary</div>
        <sub class="sub">sub</sub>
        <h3 class="h3">h3</h3>
        <p class="p">p</p>
        <pre class="pre">pre</pre>
        <sup class="sup">sup</sup>
        <a class="link">TEXT</a>
      </div>
      <div class="group-parent">
        <a class="link-to-google-wrapper">
          <a class="link-to-google" href="https://www.google.com">Link to Google</a>
        </a>
        <a class="link-to-email-container" href="mailto:jeraldine@locofy.ai?subject=hihi">
          <span class="link-to-email-container1">
            <p class="link-to-email">Link to Email</p>
            <p class="link-to-email">email: jeraldine&#64;locofy.ai</p>
            <p class="link-to-email">subject: hihi</p>
          </span>
        </a>
        <a class="link-to-phone-container" href="tel:+6598765432">
          <span class="link-to-email-container1">
            <p class="link-to-email">Link to Phone</p>
            <p class="link-to-email">+6598765432</p>
          </span>
        </a>
        <a class="link">LINK</a>
        <a class="link-to-page-container">
          <span class="link-to-email-container1">
            <p class="link-to-email">Link to Page</p>
            <p class="link-to-email">/actions</p>
          </span>
        </a>
        <a class="frame-child" href="mailto:sid@locofy.ai?subject=hihi" ></a>
      </div>
      <div class="pexels-tamara-velazquez-772172-parent">
        <img class="pexels-tamara-velazquez-772172-icon" alt="alttext" loading="eager" src="assets/pexelstamaravelazquez7721725-1@1x.png" />
        <div class="x-png-alttext">1x png alttext eager</div>
        <div class="x-jpg-alttext2">2x jpg alttext2 lazy</div>
        <div class="x-svg-alttext3">3x svg alttext3 default</div>
        <img class="pexels-jasmin-chew-8373866-1-icon" alt="alttext2" loading="lazy" src="assets/pexelsjasminchew8373866-1@2x.jpg" />
        <img class="code-icon-1" alt="alttext3" src="assets/code-icon-1.svg" />
        <a class="image">IMAGE</a>
      </div>
      <div class="group-container">
        <button class="rectangle-parent" [disabled]="true">
          <div class="group-child" ></div>
          <div class="button">BUTTON</div>
        </button>
        <div class="autofocus-disabled">autofocus disabled</div>
        <a class="button1">BUTTON</a>
      </div>
      <div class="frame-parent">
        <form class="checked-required-autofocus-parent">
          <label class="checked-required-autofocus" htmlFor="checkbox1">checked, required, autofocus</label>
          <div class="rectangle-group">
            <input class="rectangle-input" [required]="true" [checked]="true" type="checkbox" />
            <label class="label1" htmlFor="checkbox1">Label</label>
          </div>
        </form>
        <label class="disabled" htmlFor="checkbox1">disabled</label>
        <input class="rectangle-input1" [required]="false" [disabled]="true" [readOnly]="false" type="checkbox" />
        <label class="readonly" htmlFor="checkbox1">readonly</label>
        <input class="rectangle-input2" [required]="false" [disabled]="false" [readOnly]="true" type="checkbox" />
        <a class="link">CHECKBOX</a>
      </div>
      <div class="frame-group">
        <form class="checked-required-autofocus-parent" ></form>
        <textarea class="frame-inner" placeholder="placeholder" rows="6" maxLength="40" [required]="true" cols="10" ></textarea>
        <b class="textarea">TEXTAREA</b>
        <textarea class="frame-textarea" placeholder="Placeholder" rows="6" [required]="true" cols="10" defaultValue="value" ></textarea>
        <textarea class="frame-child1" placeholder="placeholder" rows="6" [required]="false" [disabled]="false" [readOnly]="true" cols="10" defaultValue="value" ></textarea>
        <textarea class="frame-child2" placeholder="placeholder" rows="6" [required]="false" [disabled]="true" cols="10" defaultValue="value" ></textarea>
        <div class="placeholder-placeholder-value-container">
          <p class="link-to-email">placeholder: placeholder</p>
          <p class="link-to-email">value: Value</p>
          <p class="link-to-email">rows: 6, cols 10, max 40</p>
          <p class="link-to-email">required, autofocus</p>
          <p class="link-to-email">wrap hard</p>
        </div>
        <div class="wrap-soft">Wrap soft</div>
        <div class="readonly1">Readonly</div>
        <div class="disabled1">Disabled</div>
      </div>
      <div class="frame-container">
        <input class="frame-input" value="value" placeholder="Placeholder" type="text" maxLength="20" minLength="3" />
        <input class="frame-child3" value="value" placeholder="Placeholder" type="text" maxLength="20" minLength="3" />
        <input class="frame-child4" value="value" placeholder="Placeholder" type="text" maxLength="20" minLength="3" />
        <input class="frame-child5" value="5" placeholder="Placeholder" type="email" min="3" max="20" step="2" maxLength="20" minLength="3" />
        <input class="frame-child6" value="5@5.com" placeholder="Placeholder" type="email" min="3" max="20" step="2" maxLength="20" minLength="3" />
        <input class="frame-child7" value="5@5.com" placeholder="Placeholder" type="password" min="3" max="20" step="2" maxLength="20" minLength="3" />
        <input class="frame-child8" value="5@5.com" placeholder="Placeholder" type="tel" min="3" max="20" step="2" maxLength="20" minLength="3" />
        <input class="frame-child9" value="5@5.com" placeholder="Placeholder" type="search" min="3" max="20" step="2" maxLength="20" minLength="3" />
        <b class="input">INPUT</b>
        <div class="text-val-value">TEXT Val: value, Ph: Placeholder, Max: 20, Min: 3, Required, Autofocus</div>
        <div class="number-val-5">NUMBER Val: 5, Ph: Enter number, Max: 20, Min: 3,  Step: 2</div>
        <div class="email-val-55com">EMAIL Val: 5&#64;5.com, Ph: Placeholder Enter number, Max: 20, Min: 3,</div>
        <div class="password-val-55com">PASSWORD Val: 5&#64;5.com, Ph: Placeholder Enter number, Max: 20, Min: 3,</div>
        <div class="tel-val-55com">TEL Val: 5&#64;5.com, Ph: Placeholder Enter number, Max: 20, Min: 3,</div>
        <div class="search-val-55com">SEARCH Val: 5&#64;5.com, Ph: Placeholder Enter number, Max: 20, Min: 3,</div>
        <div class="disabled2">Disabled</div>
        <div class="read-only">Read only</div>
      </div>
      <div class="frame-parent">
        <form class="checked-required-autofocus-parent">
          <label class="checked-required-autofocus" htmlFor="checkbox1">checked, required, autofocus</label>
          <input class="ellipse-input" [required]="true" [checked]="true" type="radio" defaultChecked="true" />
        </form>
        <input class="frame-child10" [disabled]="true" type="radio" />
        <input class="frame-child11" [readOnly]="true" type="radio" />
        <label class="disabled" htmlFor="checkbox1">disabled</label>
        <label class="readonly" htmlFor="checkbox1">readonly</label>
        <a class="link">RADIO</a>
      </div>
      <div class="frame-parent">
        <form class="checked-required-autofocus-parent">
          <label class="checked-required-autofocus" htmlFor="checkbox1">checked, required, autofocus</label>
          <div class="parent" [attr.required]=true [attr.disabled]=false>
            <label class="label2" for="file-13:864">
              <div class="group" [attr.required]=true>
                <label class="label2" for="file-13:865">
                  <div class="file-upload">File upload</div>
                </label>
                <input class="input1" type="file" id="file-13:865" />
              </div>
            </label>
            <input class="input1" type="file" id="file-13:864" />
          </div>
        </form>
        <div class="container" [attr.required]=false [attr.disabled]=true [attr.readOnly]=false>
          <label class="label2" for="file-13:867">
            <div class="file-upload1">File upload</div>
          </label>
          <input class="input1" type="file" id="file-13:867" />
        </div>
        <div class="parent1" [attr.required]=false [attr.readOnly]=true>
          <label class="label2" for="file-13:869">
            <div class="file-upload1">File upload</div>
          </label>
          <input class="input1" type="file" id="file-13:869" />
        </div>
        <label class="disabled" htmlFor="checkbox1">disabled</label>
        <label class="readonly" htmlFor="checkbox1">readonly</label>
        <a class="link">FILE UPLOAD</a>
      </div>
      <div class="frame-parent">
        <form class="checked-required-autofocus-parent">
          <label class="required-autofocus1" htmlFor="checkbox1">required, autofocus</label>
          <select class="test1-parent" [required]="true">
            <option value="test1">test1</option>
            <option value="test2">test2</option>
            <option value="test3">test3</option>
            <option value="test4">test4</option>
          </select>
        </form>
        <select class="a-parent" [required]="false" [disabled]="true">
          <option value="a">a</option>
          <option value="bb">bb</option>
          <option value="ccc">ccc</option>
        </select>
        <select class="a-group">
          <option value="a">a</option>
          <option value="bb">bb</option>
          <option value="ccc">ccc</option>
        </select>
        <label class="disabled" htmlFor="checkbox1">disabled</label>
        <label class="readonly" htmlFor="checkbox1">readonly</label>
        <a class="link">SELECT</a>
      </div>
      <div class="div-contain-parent">
        <a class="div-contain">DIV CONTAIN</a>
        <article class="article-wrapper">
          <div class="article">Article</div>
        </article>
        <div class="div-container">
          <div class="div1">Div</div>
        </div>
        <footer class="footer-wrapper">
          <div class="article">Footer</div>
        </footer>
        <header class="header-wrapper">
          <div class="header">Header</div>
        </header>
        <main class="main-wrapper">
          <div class="main">main</div>
        </main>
        <section class="section-wrapper">
          <div class="header">section</div>
        </section>
        <address class="address-wrapper">
          <div class="address">address</div>
        </address>
        <aside class="aside-wrapper">
          <div class="aside">aside</div>
        </aside>
        <canvas class="canvas-wrapper">
          <div class="canvas">canvas</div>
        </canvas>
        <fieldset class="fieldset-wrapper">
          <div class="header">fieldset</div>
        </fieldset>
      </div>
      <div class="video-parent">
        <a class="link">VIDEO</a>
        <video class="wrapper" autoPlay muted loop controls>
          <source src="assets/video_one.mp4" />
        </video>
        <video class="frame" autoPlay muted loop controls (loadstart)="handleLoadStartWf($event)">
          <source src="assets/video_two.mp4" />
        </video>
        <div class="show-controls-volume">Show controls, volume 50</div>
        <div class="show-controls-volume1">Show controls, volume 80, loop</div>
        <div class="no-contrls-autoplay">No contrls, autoplay, loop</div>
        <video class="rectangle-video" controls>
          <source src="https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4" />
        </video>
      </div>
      <div class="audio-parent">
        <a class="link">AUDIO</a>
        <div class="show-controls-volume">Show controls, volume 50</div>
        <div class="show-controls-volume3">Show controls, volume 50</div>
        <div class="show-controls-autoplay">Show controls, autoplay, volume 50</div>
        <audio class="group-audio" controls>
          <source src="assets/rome.mp3" />
        </audio>
        <audio class="frame-audio" controls (loadeddata)="handleLoadStartZh($event)">
          <source src="assets/inspiration-piano-calm-background-music-for-videos-7186.mp3" />
        </audio>
        <audio class="wrapper1" controls (loadeddata)="handleLoadStartBn($event)">
          <source src="https://www.kozco.com/tech/piano2.wav" />
        </audio>
      </div>
      <div class="lottie-parent">
        <a class="link">LOTTIE</a>
        <div class="speed-1-loop">SPeed 1, loop,  show ctrls</div>
        <div class="speed-1-loop1">SPeed 1, loop,  show ctrls</div>
        <div class="speed-2-loop">Speed 2, loop, no ctrls</div>
        <div class="speed-01-no">Speed 0.1, no loop, show ctrls</div>
        <ng-lottie class="frame-nglottie" [options]="{autoplay:true,path:'assets/76920-smile.json',loop:true}" />
        <ng-lottie class="frame-child12" [options]="{autoplay:true,path:'assets/11916-hungry.json',loop:true}" />
        <ng-lottie class="frame-child13" [options]="{autoplay:true,path:'https://assets9.lottiefiles.com/packages/lf20_PBgNop.json',loop:true}" />
        <ng-lottie class="frame-child14" [options]="{autoplay:true,path:'https://assets9.lottiefiles.com/packages/lf20_PBgNop.json',loop:false}" />
      </div>
      <div class="youtube-parent">
        <a class="link">YOUTUBE</a>
        <div class="autoplay-loop-show">autoplay, loop,  show ctrls</div>
        <div class="muted">Muted</div>
        <div class="no-ctrls-autoplay">NO ctrls, autoplay</div>
        <iframe class="frame-iframe" src="https://www.youtube.com/embed/XF-3ncTbacw?rel=0&autoplay=1&mute=1&loop=1" frameBorder="0" allowFullScreen ></iframe>
        <iframe class="frame-child15" src="https://www.youtube.com/embed/XF-3ncTbacw?rel=0&controls=0&autoplay=1&mute=1" frameBorder="0" allowFullScreen ></iframe>
        <iframe class="frame-child16" src="https://www.youtube.com/embed/XF-3ncTbacw?rel=0&controls=0&autoplay=1&mute=1" frameBorder="0" allowFullScreen ></iframe>
      </div>
      <div class="iframe-parent">
        <a class="div-contain">iFRAME</a>
        <iframe class="frame-child17" src="https://www.bing.com" ></iframe>
      </div>
      <div class="iframe-parent">
        <a class="div-contain">Google Maps</a>
        <iframe class="frame-child17" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d255276.547377676!2d103.818!3d1.359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ssg!4v1661430472367!5m2!1sen!2ssg" ></iframe>
      </div>
      <div class="gif-parent">
        <a class="gif">Gif</a>
        <img class="frame-icon" alt="funny cat" loading="eager" src="assets/giphy.gif" />
        <div class="upload-alt-text-funny-container">
          <p class="link-to-email">upload alt text: funny cat</p>
          <p class="link-to-email">eager</p>
        </div>
        <div class="url-alt-text-container">
          <p class="link-to-email">URL</p>
          <p class="link-to-email">alt text: funny frog</p>
          <p class="link-to-email">lazy</p>
        </div>
        <img class="frame-child19" alt="funny frog" loading="lazy" src="https://media.giphy.com/media/XIqCQx02E1U9W/giphy.gif" />
      </div>
      <div class="form-parent">
        <b class="form">
          <span class="form-txt">
            <p class="link-to-email">Form</p>
          </span>
        </b>
        <form class="button2">
          <div class="button-child" ></div>
          <div class="submit">SUBMIT</div>
        </form>
      </div>
      <div class="label6">
        <div class="label7">Label</div>
        <div class="text-val-value-ph-placehold-wrapper">
          <label class="text-val-value1">TEXT Val: value, Ph: Placeholder, Max: 20, Min: 3, Required, Autofocus</label>
        </div>
      </div>
    </div>